.dualInput {
  margin-bottom: 25px;
}

.labelWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.label {
  font-size: 13px;
  color: #64748B;
  font-weight: 500;
}

.inputWrapper {
  position: relative;
}

.numberInput {
  padding: 6px 30px 6px 10px;
  width: 80px;
  border-radius: 8px;
  border: 1px solid #E2E8F0;
  background-color: #F8FAFC;
  font-weight: 600;
  text-align: right;
  color: #64748B;
}

.symbol {
  position: absolute;
  right: 10px;
  top: 7px;
  font-size: 12px;
  color: #94A3B8;
}

.rangeInput {
  width: 100%;
  accent-color: #3B82F6;
}